*.pyc
__pycache__/
db.sqlite3
*.sqlite3
media/* # Если у вас есть директория media, которая не должна быть в репозитории
static/* # Если у вас есть директория static, которая не должна быть в репозитории
venv/   # Или имя вашего виртуального окружения
*.log
*.swp
*~
/.vscode/ # Если используете VS Code